/* Username Color */
#chat .user-564348a13824d25f0041979a a.username { /* Ciker */
  color: #DB182E !important;
  font-weight: bold;
}

/* Badge */
#chat .user-564348a13824d25f0041979a .image_row { /* Ciker */
	content: url(https://www.dropbox.com/s/smokgtodlttpwb9/DEVBADGE30px.png?raw=1);
}


/* Icon */
#chat .chat-container ul.chat-main li.user-564348a13824d25f0041979a .activity-row .text p a.username:before { /* Ciker */
    content: url(https://i.imgur.com/7MHdeHw.png);
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
}

/* UserList Role */
ul.avatar-list li.user-Ciker p.dubs:before { /* Ciker */
    content: "OrigemWoot Dev - ";
    font-weight: 700;
    color: #DB182E !important;
}
